$color-background: #0F0F10;
$color-background-light: #1B1B1D;
$color-background-light-accent: #343437;
$color-background-header: rgb(50, 50, 54);
$color-background-header-accent: rgb(80, 80, 88);
$color-primary: #7800b9;
$color-secondary: #241462;
$color-red: #bd0224;
$color-red-dark: #750015;

@value $breakpoint.medium: 992px;
